.home-page {
  text-align: center;
  background-color: #9919DD;
  width:100%;
  height: 100%;
  margin-top: 5%;
  display: flex;
  align-items: center;
}

#edit-profile-page {
  height: 100%;
  padding: 100px;
  display: flex;
  justify-content: center;
}

.shape-container {
  border: 2px solid black;
  border-radius: 20px;
  height: 300px;
  margin-top: 30px;
  padding: 50px;
  width: 60%;
}

.single-shape-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 25px;
  text-align: center;
  cursor: pointer;
}

.selected {
  background-color: blue !important;
}

.shape-caption {
  font-style: italic;
  margin-top: 5px;
}

#circle {
  height: 50px;
  width: 50px;
  background-color: green;
  border-radius: 50%;
  display: block;
}

#triangle {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid green;
  display: block;
}

#square {
  width: 50px;
  height: 50px;
  background: green;
}

#rectangle {
  height: 50px;
  width: 100px;
  background-color: green;
  display: block;
}

.muted {
  color: #8d8d8d;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-bottom-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.home-card {
  /* background-color: #282c34; */
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  background-color: white;
  width: 60vh;
  margin: auto;
}

.current-class-page {
  background-color: rgb(112, 112, 112);
  height: 100%;
}

.back-button {
  padding: 20px;
}

.back-button a {
  margin-top: 20px;
  text-decoration: none;
  color: black;
}

.back-button:hover {
  cursor: pointer;
}

.info-cards {
  background-color: #bbbbbb;
  color: white;
  text-align: center;
  padding: 15px 20px;
  margin-bottom: 10px;
  font-size: 20px;
  font-style: italic;
}

.page-header {
  padding-top: 40px;
  font-size: 30px;
  font-weight: 500;
  color: white;
}

.page-subheader {
  color: white;
  font-size: 20px;
  margin-top: 20px;
}

.user-levels-section {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-row-gap: 20px;
}

.level-obj-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-style: italic;
  font-size: 15px;
}

.level-circle {
  background-color: white;
  color: black;
  height: 58px;
  width: 58px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  font-style: italic;
}

.current-class-footer {
  padding: 80px 200px 30px;
  display: flex;
  justify-content: space-between;
}

.your-activities {
  line-height: 2em;
}

.button {
  border-radius: 40px;
  background-color: #AC00CB;
  padding: 10px 40px;
  color: white;
  margin-bottom: 20px;
  font-weight: 500;
}

.button:hover {
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Quiz-header {
  background-color: #222;
  padding: 10px;
  color: white;
  text-align: center;
}

.Quiz-intro {
  font-size: large;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}