#Achievements {
  width: 60vw;
  margin: auto;
  background-color: white;
  border-radius: 15px;
}

.trophy {
  width: 600px;
  margin: auto;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
}

.trophy img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.trophyContent {
  text-align: center;
  width: 500px;
}

.trophyContent h2 {
  margin-top: 20px;
  font-size: 25px;
}

.trophyContent p {
  font-style: italic;
  font-size: 15px;
}