#leaderboard {
  width: 800px;
  margin: auto;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 50px;
}

#leaderboard th {
  padding: 15px;
}

#leaderboard tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125)
}

.boardUser {
  margin-left: 60px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.levelxp {
  display: flex;
  flex-direction: row;
}

.levelxp h3 {
  margin-right: 30px;
}

th {
  text-align: center;
  font-size: 30px;
}

.position {
  font-size: 30px;
  padding-left: 50px;
}

.boardEntry {
  padding: 10px;
}

.boardImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 30px;
}

.trophyList {
  display: flex;
  flex-direction: row;
}

.trophyList img {
  height: 30px;
  width: 30px;
  object-fit: cover;
  margin: 5px;
}
