

#page5 button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  font-size: 25px;
}

#profile-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 500px;
  margin: auto;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  padding-bottom: 15px;
}

#profile-main img {
  margin-top: 20px;
  object-fit: contain;
  width: 200px;
  height: 200px;
  margin: auto;
}

.navButton {
  text-decoration: none;
  width: 250px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#levelBar {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin-left: 15vw;
  text-align: center;
}

#progressBar {
  display: flex;
  flex-direction: column;
}

#levelDiv {
  height: 25px;
  width: 70vw;
  margin: auto;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
}


#progress {
  width: 40%;
  background-color: green;
  height: 25px;
}

#remaining {
  width: 60%;
  background-color: grey;
  height: 25px;
}

#levels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
