

body {
  background-color: #9919DD;
}

#quizzes {
  width: 50vw;
  max-width: 600px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  background-color: white;
}

.quiz {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#title {
  background-color: rgb(191, 64, 255);
  font-style: italic;
  color: white;
  font-size: 25px;
  height: 50px;
  line-height: 50px;
}

.nav-link {
  border-radius: 40px;
  background-color: #AC00CB;
  padding: 10px 40px;
  color: white;
  margin-bottom: 20px;
  font-weight: 500;
  width: 200px;
  margin: auto;

}

.nav-link:hover {
  text-decoration: none;
  color: white;
}