@import "../../styles/variable";

.login-form {
  margin: 15rem auto 0 auto;
  background-color: $color-grey-light-2;
}
.login-info {
  font-size: 15px;
  color: $color-grey-dark;
  margin: 1rem 0;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

h1 {
  color: purple;
}